In [2]:
import os
import pandas as pd
import mysql.connector

In [3]:
print(os)

<module 'os' from '/Users/petern/opt/anaconda3/lib/python3.7/os.py'>

# 1. Các trường hợp trong bảng datasource có format là Mp3 nhưng filename trả về có đuôi là .mp4

In [4]:
mydb = mysql.connector.connect(
  host="localhost",
  user="sysadm",
  password="ek7F7ck3",
  database="v4",
  port= 3308
)
mycursor = mydb.cursor()

In [5]:
query = f'''SELECT datasources.ID, datasources.FormatID, datasources.Ext ->> "$.resize_images",
       datasources.FileName
FROM datasources
WHERE datasources.FileName LIKE "%mp4"
  AND (datasources.FormatID = '1A67A5F1E0D84FB9B48234AE65086375'
    OR datasources.FormatID = '87ADA22693BA48029C33FC3031C6044C'
    OR datasources.FormatID = '745BFC108F41441CB01AD8178AB02D2B'
    )
  AND datasources.Ext ->> "$.resize_images" NOT LIKE "%.mp4.mp3%"
  AND datasources.Ext ->> "$.resize_images" LIKE "%.mp3%"
  AND datasources.Valid = 1
LIMIT 10;'''

mycursor.execute(query)
result = mycursor.fetchall()

In [6]:
pd.DataFrame(result)

,0,1,2,3
0,000D34C665FE48EB9F41AE92FACAC587,1A67A5F1E0D84FB9B48234AE65086375,"[""audio_000D34C665FE48EB9F41AE92FACAC587.mp3.m...",video___068Isskeal4.mp4
1,0012AFD40C36464186BC41D017B607B3,1A67A5F1E0D84FB9B48234AE65086375,"[""audio_0012AFD40C36464186BC41D017B607B3.mp3.m...",video___9mVRN1Fe8d8.mp4
2,0013393F97104293BB3392478F97A03F,1A67A5F1E0D84FB9B48234AE65086375,"[""audio_0013393F97104293BB3392478F97A03F.mp3.m...",video___brQ-EWzgEX0.mp4
3,001C21CCE1DB4BD1BA3A9757EB6D0C46,1A67A5F1E0D84FB9B48234AE65086375,"[""audio_001C21CCE1DB4BD1BA3A9757EB6D0C46.mp3.m...",video___UnCaBnMy4qk.mp4
4,001F4070016A44E082A2427567C65143,1A67A5F1E0D84FB9B48234AE65086375,"[""audio_001F4070016A44E082A2427567C65143.mp3.m...",video___XKZJwqILLbk.mp4
5,0043DE592CA1438AAD5BC37C6D61ACB7,1A67A5F1E0D84FB9B48234AE65086375,"[""audio_0043DE592CA1438AAD5BC37C6D61ACB7.mp3.m...",video___nSkbAWc1PyU.mp4
6,004A534402F048C095F5939DD5A9150D,1A67A5F1E0D84FB9B48234AE65086375,"[""audio_004A534402F048C095F5939DD5A9150D.mp3.m...",video___b7e-NxGsBq8.mp4
7,004BFE4E19CD43A2947BCC9E2C266917,1A67A5F1E0D84FB9B48234AE65086375,"[""audio_004BFE4E19CD43A2947BCC9E2C266917.mp3.m...",video___32VKCbcNtIY.mp4
8,005CA0AE70244931BE169B418C4DEDC1,1A67A5F1E0D84FB9B48234AE65086375,"[""audio_005CA0AE70244931BE169B418C4DEDC1.mp3.m...",video___wLgrT5qb9Ko.mp4
9,0067BC4FFE814C56A450D11384550A95,1A67A5F1E0D84FB9B48234AE65086375,"[""audio_0067BC4FFE814C56A450D11384550A95.mp3.m...",video___IXOCKXl3ynI.mp4

# 2.  Bài tập crawler E5

## Trước khi xóa

In [7]:
query = f'''SELECT album_track.*
FROM albums
         JOIN album_track ON albums.UUID = album_track.AlbumId
         JOIN artist_track on artist_track.TrackId = album_track.TrackId
         JOIN tracks on tracks.Id = album_track.TrackId
WHERE album_track.AlbumId = '3DC59AE84D3B4F01AC6AB1728F89B959'
and album_track.TrackId = '8F764CF0D24A452680B234A6905E33E9'
LIMIT 10;'''

mycursor.execute(query)
result = mycursor.fetchall()

In [8]:
pd.DataFrame(result)

,0,1,2,3,4,5,6
0,3DC59AE84D3B4F01AC6AB1728F89B959,8F764CF0D24A452680B234A6905E33E9,None,1,1,0,None

In [9]:
query = f'''SELECT tracks.*
FROM albums
         JOIN album_track ON albums.UUID = album_track.AlbumId
         JOIN artist_track on artist_track.TrackId = album_track.TrackId
         JOIN tracks on tracks.Id = album_track.TrackId
WHERE album_track.AlbumId = '3DC59AE84D3B4F01AC6AB1728F89B959'
and album_track.TrackId = '8F764CF0D24A452680B234A6905E33E9'
LIMIT 10;'''

mycursor.execute(query)
result = mycursor.fetchall()

In [10]:
pd.DataFrame(result)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,8F764CF0D24A452680B234A6905E33E9,208545462423420,1,2020-09-03 09:05:07,2018-01-29 05:27:51,Boyfriend,Justin Bieber,Boyfriend (Oliver Twizt Radio),None,8,...,None,https://aimg.samV-vid.com/samV-images/al...,None,None,None,"{""short_id"": ""m5-Ki1cq"", ""releasedate"": ""2012-...","{""wiki"": {""brief"": ""\""Boyfriend\"" is a song by...",v,0,2012-06-12

In [11]:
query = f'''SELECT datasources.*
FROM albums
         JOIN album_track ON albums.UUID = album_track.AlbumId
         JOIN artist_track on artist_track.TrackId = album_track.TrackId
         JOIN tracks on tracks.Id = album_track.TrackId
         JOIN datasources ON datasources.TrackId = tracks.Id
WHERE album_track.AlbumId = '3DC59AE84D3B4F01AC6AB1728F89B959'
and album_track.TrackId = '8F764CF0D24A452680B234A6905E33E9'
LIMIT 10;'''

mycursor.execute(query)
result = mycursor.fetchall()

In [12]:
pd.DataFrame(result)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0DD69E521CA2498CB1F92DAA57373494,8F764CF0D24A452680B234A6905E33E9,-86,2019-10-03 03:33:31,2019-04-16 14:42:23,1A67A5F1E0D84FB9B48234AE65086375,YouTube,https://www.youtube.com/watch?v=7Z3NE1xTjow,1,2019-04-16 14:42:23,...,NaN,"{""source"": {""id"": ""7Z3NE1xTjow"", ""ext"": ""m4a"",...",1,None,NaN,,0,26965,2019-04-16 14:42:23,NaN
1,178C41D4A1FA42748583C980E3E95B90,8F764CF0D24A452680B234A6905E33E9,-9,2019-01-21 11:55:42,2018-08-24 08:19:52,1A67A5F1E0D84FB9B48234AE65086375,YouTube,https://www.youtube.com/watch?v=lhALLT3FRcw,0,NaT,...,NaN,"{""source"": {""id"": ""lhALLT3FRcw"", ""ext"": ""webm""...",1,None,NaN,,0,12966,2018-09-02 08:08:42,NaN
2,6B2BF0EB73164A8FA9426CAEC62598B1,8F764CF0D24A452680B234A6905E33E9,1,2020-09-30 07:59:11,2017-06-13 21:14:45,C78F687CB3BE4D90B30F49435317C3AC,youtube,https://www.youtube.com/watch?v=7Z3NE1xTjow,1,2018-01-25 11:00:36,...,720.0,"{""samV_title"": ""Boyfriend (Oliver Twizt Rad...",1,"{""faststart"": true, ""resize_images"": [""video__...",5.542625e+14,7Z3NE1xTjow,10,26482,2018-08-02 18:21:22,921600.0
3,6E32B86C4F8A4C28B2DB646C077FF836,8F764CF0D24A452680B234A6905E33E9,1,2020-09-30 17:44:44,2018-01-29 05:27:51,C78F687CB3BE4D90B30F49435317C3AC,youtube,https://www.youtube.com/watch?v=lhALLT3FRcw,1,2018-01-29 18:51:12,...,720.0,"{""samV_title"": ""Boyfriend (Oliver Twizt Rad...",1,"{""faststart"": true, ""resize_images"": [""video__...",2.085455e+14,lhALLT3FRcw,10,12929,2018-08-02 16:38:22,921600.0
4,B4C0353EEBF24B1FBCB3FC06284AD55F,8F764CF0D24A452680B234A6905E33E9,-86,2019-10-03 03:33:31,2019-03-24 13:12:01,1A67A5F1E0D84FB9B48234AE65086375,youtube,https://www.youtube.com/watch?v=lhALLT3FRcw,2,2019-03-24 13:12:01,...,NaN,None,1,"{""original_datasource"": ""6E32B86C4F8A4C28B2DB6...",2.085455e+14,lhALLT3FRcw,20,12929,2018-08-02 16:38:22,NaN
5,EFF5E67EB096486B9F84BF78AB941B81,8F764CF0D24A452680B234A6905E33E9,1,2021-01-12 09:25:47,2019-03-24 13:12:01,1A67A5F1E0D84FB9B48234AE65086375,youtube,https://www.youtube.com/watch?v=7Z3NE1xTjow,2,2019-03-24 13:12:01,...,NaN,"{""samV_title"": ""Boyfriend (Oliver Twizt Rad...",1,"{""n_favorites"": 42, ""resize_images"": [""video__...",5.542625e+14,7Z3NE1xTjow,20,26482,2018-08-02 18:21:22,NaN

##	Xóa 1 record trong bảng tracks	3DC59AE84D3B4F01AC6AB1728F89B959
##	Xóa 1 record trong bảng datasources	3DC59AE84D3B4F01AC6AB1728F89B959
##	Xóa 1 record trong bảng artist_track	28940B7D2941459AB548CCBA771EB209

In [12]:
query = f'''DELETE
FROM album_track
WHERE album_track.AlbumId = '3DC59AE84D3B4F01AC6AB1728F89B959'
  AND album_track.TrackId = '8F764CF0D24A452680B234A6905E33E9';'''
mycursor.execute(query)

In [13]:
query = f'''DELETE
FROM tracks
WHERE tracks.Id = '8F764CF0D24A452680B234A6905E33E9';'''
mycursor.execute(query)

In [14]:
query = f'''DELETE
FROM datasources
where Id = '0DD69E521CA2498CB1F92DAA57373494';'''
mycursor.execute(query)

## Sau khi xóa

In [15]:
query = f'''SELECT album_track.*
FROM albums
         JOIN album_track ON albums.UUID = album_track.AlbumId
         JOIN artist_track on artist_track.TrackId = album_track.TrackId
         JOIN tracks on tracks.Id = album_track.TrackId
WHERE album_track.AlbumId = '3DC59AE84D3B4F01AC6AB1728F89B959'
and album_track.TrackId = '8F764CF0D24A452680B234A6905E33E9'
LIMIT 10;'''

mycursor.execute(query)
result = mycursor.fetchall()

In [16]:
pd.DataFrame(result)

Empty DataFrame
Columns: []
Index: []

In [17]:
query = f'''SELECT tracks.*
FROM albums
         JOIN album_track ON albums.UUID = album_track.AlbumId
         JOIN artist_track on artist_track.TrackId = album_track.TrackId
         JOIN tracks on tracks.Id = album_track.TrackId
WHERE album_track.AlbumId = '3DC59AE84D3B4F01AC6AB1728F89B959'
and album_track.TrackId = '8F764CF0D24A452680B234A6905E33E9'
LIMIT 10;'''

mycursor.execute(query)
result = mycursor.fetchall()

In [18]:
pd.DataFrame(result)

Empty DataFrame
Columns: []
Index: []

In [19]:
query = f'''SELECT datasources.*
FROM albums
         JOIN album_track ON albums.UUID = album_track.AlbumId
         JOIN artist_track on artist_track.TrackId = album_track.TrackId
         JOIN tracks on tracks.Id = album_track.TrackId
         JOIN datasources ON datasources.TrackId = tracks.Id
WHERE album_track.AlbumId = '3DC59AE84D3B4F01AC6AB1728F89B959'
and album_track.TrackId = '8F764CF0D24A452680B234A6905E33E9'
LIMIT 10;'''

mycursor.execute(query)
result = mycursor.fetchall()

In [20]:
pd.DataFrame(result)

Empty DataFrame
Columns: []
Index: []

## Insert

In [18]:
query = f'''insert into crawlingtasks(Id, ActionId, TaskDetail, Priority) values (uuid4(), '9C8473C36E57472281A1C7936108FC06',JSON_SET(IFNULL(crawlingtasks.TaskDetail, JSON_OBJECT()), '$.album_id',1440807599 ,'$.region','us','$.PIC', 'V_Crawler_Albums_Sam'),1999);'''
mycursor.execute(query)
mydb.commit()

## Checking

In [33]:
query = f'''SELECT *
FROM crawlingtasks
where crawlingtasks.TaskDetail ->> "$.PIC" = 'V_Crawler_Albums_Sam'
ORDER BY CreatedAt DESC
LIMIT 10'''
mycursor.execute(query)
result = mycursor.fetchall()

In [34]:
pd.DataFrame(result)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,5584D7933556437D993883F5F3C8370B,None,2021-01-21 07:33:56,9C8473C36E57472281A1C7936108FC06,None,None,1999,"{""PIC"": ""V_Crawler_Albums_Sam"", ""region"": ""us""...",None,None,None,None,0

## Sau khi Insert

In [35]:
query = f'''SELECT album_track.*
FROM albums
         JOIN album_track ON albums.UUID = album_track.AlbumId
         JOIN artist_track on artist_track.TrackId = album_track.TrackId
         JOIN tracks on tracks.Id = album_track.TrackId
WHERE album_track.AlbumId = '3DC59AE84D3B4F01AC6AB1728F89B959'
and album_track.TrackId = '8F764CF0D24A452680B234A6905E33E9'
LIMIT 10;'''

mycursor.execute(query)
result = mycursor.fetchall()

In [36]:
pd.DataFrame(result)

,0,1,2,3,4,5,6
0,3DC59AE84D3B4F01AC6AB1728F89B959,8F764CF0D24A452680B234A6905E33E9,None,1,1,0,None

In [37]:
query = f'''SELECT tracks.*
FROM albums
         JOIN album_track ON albums.UUID = album_track.AlbumId
         JOIN artist_track on artist_track.TrackId = album_track.TrackId
         JOIN tracks on tracks.Id = album_track.TrackId
WHERE album_track.AlbumId = '3DC59AE84D3B4F01AC6AB1728F89B959'
and album_track.TrackId = '8F764CF0D24A452680B234A6905E33E9'
LIMIT 10;'''

mycursor.execute(query)
result = mycursor.fetchall()

In [38]:
pd.DataFrame(result)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,8F764CF0D24A452680B234A6905E33E9,208545462423420,1,2020-09-03 09:05:07,2018-01-29 05:27:51,Boyfriend,Justin Bieber,Boyfriend (Oliver Twizt Radio),None,8,...,None,https://aimg.samV-vid.com/samV-images/al...,None,None,None,"{""short_id"": ""m5-Ki1cq"", ""releasedate"": ""2012-...","{""wiki"": {""brief"": ""\""Boyfriend\"" is a song by...",v,0,2012-06-12

In [39]:
query = f'''SELECT datasources.*
FROM albums
         JOIN album_track ON albums.UUID = album_track.AlbumId
         JOIN artist_track on artist_track.TrackId = album_track.TrackId
         JOIN tracks on tracks.Id = album_track.TrackId
         JOIN datasources ON datasources.TrackId = tracks.Id
WHERE album_track.AlbumId = '3DC59AE84D3B4F01AC6AB1728F89B959'
and album_track.TrackId = '8F764CF0D24A452680B234A6905E33E9'
LIMIT 10;'''

mycursor.execute(query)
result = mycursor.fetchall()

In [40]:
pd.DataFrame(result)

Empty DataFrame
Columns: []
Index: []